<mat-drawer-container>
  <mat-drawer (click)="onClickScroll('about')" #drawer>
      <button class="btn" mat-button>
    Sobre mí
  </button>
      <br>
      <button (click)="onClickScroll('skills')" class="btn" mat-button>
    Tecnologías
  </button>
      <br>
      <button class="btn" (click)="onClickScroll('contact')" mat-button>
    Contáctame
  </button>
      <br>
      <button class="btn-admon" (click)="goAdmin()">
    Administrar
  </button>

  </mat-drawer>
  <mat-drawer-content>
      <nav class="nav">
          <div class="actions-nav">
              <span class="title-nav">CV</span>
              <span class="spacer"></span>
              <div class="actions" *ngIf="currentScreenSize == '3'">
                  <button class="button-actions" (click)="onClickScroll('about')">Sobre mí</button>
                  <button class="button-actions" (click)="onClickScroll('skills')">Tecnologías</button>
                  <button class="button-actions" (click)="onClickScroll('contact')">Contáctame</button>
                  <button class="button-admon" (click)="goAdmin()">Administrar</button>
              </div>
              <div *ngIf="currentScreenSize !== '3'">
                  <button mat-icon-button>
          <mat-icon style="color: #FFFFFF;" (click)="drawer.toggle()">menu</mat-icon>
        </button>
              </div>
          </div>
      </nav>
      <div class="container-info">
          <div id="about">
              <app-about></app-about>
          </div>
          <div id="skills">
              <app-skills></app-skills>
          </div>
      </div>
      <div id="contact">
        <app-footer></app-footer>
      </div>
    </mat-drawer-content>
</mat-drawer-container>

