nav {
  background-color: #222831;
  position: sticky;
  top: 0%;
}

mat-drawer {
  background-color: #222831;
}

button {
  color: #EEEEEE;
}

.actions-nav {
  display: flex;
  align-items: center;
  padding: 10px;
}

.title-nav {
  color: #FFFFFF;
}

.spacer {
  flex: 1 1;
}

.button-actions {
  color: #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
}

.button-actions:hover {
  border-bottom-width: 4px;
  border-color: #D3D6DB;
}

.button-admon {
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #00ADB5;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  cursor: pointer;
}

.button-admon:hover {
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.home-icon-nav {
  color: #FFFFFF;
}

.menu-actions {
  display: flex;
  align-items: center;
  padding: 10px;
  visibility: hidden;
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .actions {
      visibility: hidden;
  }
  .menu-actions {
      visibility: visible;
  }
}

.button-nav {
  padding: 2px;
  height: auto;
}

.btn {
  margin: 15px 20px 15px 20px;
}

.btn-admon {
  padding: 5px;
  background-color: #00ADB5;
  border-radius: 15px;
  margin: 15px 20px 15px 20px;
  color: #EEEEEE;
}

.nav {
  position: sticky;
}

.button-bottom-sheet {
  color: #293462;
  text-align: center;
  justify-content: center;
  align-self: center;
  display: inline-block;
  height: 30px;
  width: 250px;
}

@media screen and (max-width: 800px) {
  .container-info {
      padding-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
  }
}

@media screen and (min-width: 800px) {
  .container-info {
      padding-top: 30px;
      padding-left: 100px;
      padding-right: 100px;
  }
}
